.CookiePolicy{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
}

.CookiePolicy--close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
}

.CookiePolicy--content{
  position: relative;
  width: 60%;
  height: 90%;
  padding: 2rem   ;
  overflow-y: auto;
  background-color: var(--secondary);
  border-radius: var(--border-radius-big);
}
.CookiePolicy--content h2{
  margin-bottom: 2rem;
}
.CookiePolicy--content p{
  margin-bottom: 1rem;
}
