
:root
{
    --secondary: #fff;
    --border-radius-big: 20px;
    --box-shadow: 0 0 15px -2px #c0c0c0;
}
.body
{
    margin: 0;
    padding: 0;
    display: flex;
}
.leftTar
{
    background: white;
    height: 100vh;
    width: 50%;
    display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.rightMap
{
    height: 100vh;
    width: 50%;
}

.displayDiv
{
    display: flex;
}

