:root
{
    --secondary: #fff;    
    --border-radius-big: 20px;  
    --box-shadow: 0 0 15px -2px #c0c0c0;
}
.body
{
    margin: 0;
    padding: 0;
    display: flex;
}
.leftTar
{
    margin: 1.5vh;
    background: white;
    height: 100vh;
    width: 50%;
    
} 

.rightMap
{
    height: 100vh;
    width: 50%;
}

.displayDiv
{
    display: flex;
}

.card
{
    --padding-img: 6rem;
    --translate-value: 75px;
    --padding-top-bottom: 1rem;
    --padding-left-right: 2rem;
    position: relative;
    padding: var(--padding-top-bottom) var(--padding-left-right);
    width: 48vw;
    min-height: 8rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-big);
}
.btn-pag{
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 1rem;
    right: 30rem;
    width: 9rem;
}
.valor{
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 1rem;
    right: 1rem;
    width: 9rem;
}
